Package: showet
Version: 0.1-1
Architecture: all
Maintainer: Ville Ranki <ville.ranki@iki.fi>
Installed-Size: 202
Depends: debhelper, qtbase5-dev, qt5-default, qt5-qmake, cdbs, devscripts, qtdeclarative5-dev, retroarch*, libretro-*, python3, python3-urllib3, unrar, p7zip-full, p7zip-rar, gzip, unzip, wine, fs-uae, lhasa, vice, qml-module-qtquick-controls, qml-module-qtgraphicaleffects, qml-module-qtquick-layouts, qml-module-qtwebengine
Section: base
Priority: optional
Homepage: https://github.com/vranki/showet
Description: pouet.net demo jukebox
 Play demos from pouet.net easily.
